@import url('../fonts/stylesheet.css');

.opcoesInicial{
	font-family: 'luckiest_guyregular';
	font-size:30px;
	height:60px;
	width:330px;
	background-color: #f85145;
	color:white;
	border-radius:10px;
	border-style:none;
}

.opcoesInicial:hover {
	background-color: green;
	border: 3px solid #00B24A;
}

.opcaoCapitulos, .opcaoAtividades{
	font-family: 'luckiest_guyregular';
	font-size:40px;
	background:none;
	border-style:none;
}