@import url('../fonts/stylesheet.css');

canvas{
	margin-top:-1%;
	margin-left:-1%;
}

.opcoesInicial{
	font-family: 'luckiest_guyregular';
	font-size:2rem;
	background-color: #f85145;
	color:white;
	border-radius:10px;
	border-style:none;
}

.opcoesInicial:hover {
	background-color: green;
	border: 3px solid #00B24A;
}

.opcaoCapitulos, .opcaoAtividades {
	font-family: 'luckiest_guyregular';
	font-size:2.5em;
	background:none;
	border-style:none;
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: transform;
  	transition-property: transform;
}

.opcaoAtividadesFase {
	font-family: 'luckiest_guyregular';
	font-size:3em;
	background:none;
	color: #1b5e20;
	border-style:none;
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: transform;
  	transition-property: transform;
}

.opcaoAtividadesVoltar {
	font-family: 'luckiest_guyregular';
	background:none;
	border-style:none;
	-ms-transform: rotate(-16deg); /* IE 9 */
    -webkit-transform: rotate(-16deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(-16deg);
    transform: rotate(-16deg);
    font-size: 4em;
    color: #3e2723;
    -webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: transform;
  	transition-property: transform;
}

.opcaoCapitulos:hover, .opcaoAtividades:hover{
	color:#ff7043;
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

.opcaoAtividadesFase:hover {
	color:#fbe9e7;
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

.opcaoAtividadesVoltar:hover {
	color: #fbe9e7;
	-webkit-transform: scale(1.1) rotate(-16deg);
  	transform: scale(1.1) rotate(-16deg);
  	-ms-transform: scale(1.1) rotate(-16deg); /* IE 9 */
    -moz-transform: scale(1.1) rotate(-16deg);
}
.opcaoInterfacePuzzle{
	background:none;
	border:none;
	font-family:'luckiest_guyregular';
	font-size:2.5em;
}
.opcaoInterfacePuzzleVoltar{
	color:#01689a;
}
.opcaoInterfacePuzzle1{
	color:#ffeb94;
}
.revisaoFechar{
	background-color:#ffccc5;
	color:#cb1f05;
	border:none;
	font-family:'luckiest_guyregular';
	font-size:2.5em;
}
.tituloRevisao{
	font-family:'luckiest_guyregular';
	background:none;
	color:#3d8100;
	font-size:3.5em;
}
.conteudoRevisao{
	font-family:'kidsregular';
	font-size:1.2em;
}